body{
  margin: 0;
  background: #f1f1f1;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #5c5c5c #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
input,button{
  font-family: "Open Sans", sans-serif;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
header{
  width: 100%;
  display: flex;
  background: white;
}
header .container{
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
header .container .header__logo{
  width: 20%;
  margin: auto auto auto 0;
  height: 100%;
}
header .container .header__logo span{
  color: #00c48e;
  font-weight: 800;
  font-size: 20px;
  text-decoration: none;
}
header .container .header__logo span a{
  text-decoration: none;
  color: #00c48e;
}
header .container .header__navigation{
  width: 30%;
  margin: auto;
  height: 100%;
}
header .container .header__navigation ul{
  width: 100%;
  display: flex;
  flex-direction: row;
}
header .container .header__navigation ul li{
  width: max-content;
  list-style: none;
  margin-left: 8px;
  margin-right: 8px;
  color: #363636;
  font-size: 14px;
}
header .container .header__navigation ul li a{
  text-decoration: none;
  color: #363636;
}
header .container .header__navigation ul li a:hover{
  color: black;
}
header .container .header__search{
  width: 30%;
  display: flex;
  margin: auto;
  position: relative;
}
header .container .header__search form{
  width: max-content;
  border-radius: 1000px;
  border: 1px rgba(0, 0, 0, 0.17) solid;
  overflow: hidden;
}
header .container .header__search input[type=text]{
  text-align: center;
  box-sizing: border-box;
  padding: 0.6em 1.2em;
  font-size: 14px;
  background: white;
  border: none;
  border-radius: 20em;
}
header .container .header__search-panel.hidden{
  pointer-events: none;
  opacity: 0;
}
header .container .header__search-panel{
  transition: 0.5s;
  width: 420px;
  position: absolute;
  background: white;
  left: -32%;
  top: 120%;
  height: auto;
  border: 1px #e7e7e7 solid;
  box-sizing: border-box;
  padding: 12px 24px;
  max-height: 520px;
  overflow-y: scroll;
}
header .container .search-chap{
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
header .container .search-chap .search-card{
  width: 100%;
  height: max-content;
  margin-top: 12px;
  background: white;
  overflow: hidden;
  border: 1px rgba(42, 42, 42, 0.33) solid;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 16px;
}
header .container .search-chap .search-card .left{
  width: max-content;
  margin: auto auto auto 0;
}
header .container .search-chap .search-card .left img{
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 100vw;
}
header .container .search-chap .search-card .right{
  width: 100%;
  box-sizing: border-box;
  padding-left: 12px;
  margin: auto 0 auto auto;
  font-size: 14px;
}
header .container .search-chap .search-card .right .head{
  display: flex;
}
header .container .search-chap .search-card .right .head .name{
  margin: auto;
  margin-left: 0;
  font-weight: 600;
}
header .container .search-chap .search-card .right .head .date{
  color: #7c7c7c;
}
header .container .header__profile .header__profile-content{
  width: max-content;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.header__profile-content img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: auto 12px auto auto;
  border-radius: 100vw;
}

.header__profile-content span{
  margin: auto 0;
}

header .container .header__profile{
  margin: auto 0 auto auto;
  height: 100%;
}
header .container .header__profile .header__btn:last-child{
  margin-right: 0;
}
header .container .header__profile .header__btn{
  font-size: 14px;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  margin-right: 6px;
}
header .container .header__profile .header__btn.colored{
  color: #00c48e;
}
.content{
  padding-top: 48px;
  padding-bottom: 48px;
  width: 100%;
  display: flex;
  min-height: 100vh;
}
.content .container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}

@media screen and (max-width: 1000px) {
  header{
    height: 72px;
    width: 100%;
    box-sizing: border-box;
  }
  header .container{
    width: 80%;
  }
  header .container .header__search{
    display: none;
  }
  header .container .header__navigation{
    display: none;
  }
  header .container .header__logo span{
    font-size: 36px;
  }
  header .container .header__profile .header__btn{
    font-size: 24px;
  }
}
.login__container{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.login__form{
  width: 40%;
  display: flex;
  flex-direction: column;
  background: white;
  min-width: 240px;
  height: max-content;
  box-sizing: border-box;
  padding: 48px;
  border-radius: 24px;
  margin: 0 auto auto 0;
}
.login__form .input-line:first-child{
  margin-top: 0;
}
.login__form .input-line{
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.login__form .input-line label{
  font-size: 14px;
  font-weight: 600;
}
.login__form .input-line input{
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0.8em 1.2em;
  font-size: 14px;
  border: 2px #00c48e solid;
  border-radius: 0.4em;
  margin-top: 6px;
}
.login__form button{
  background: #00c48e;
  border: none;
  padding: 0.8em 1.6em;
  font-size: 14px;
  color: white;
  border-radius: 0.4em;
  margin-top: 24px;
}
.login__desc{
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: 0 0 auto auto;
}
.login__desc h2{
  margin-top: 0;
  font-size: 36px;
  margin-bottom: 0;
}
.login__desc h2 span{
  color: #00c48e;
}
.login__desc p{
  margin-top: 24px;
  font-size: 20px;
  color: #363636;
}
.login__form .error{
  display: block;
  height: auto;
  min-height: 16px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: #ff5353;
  margin-top: 12px;
  font-weight: 400;
}
.login__form.c{
  margin: auto;
}
@media screen and (max-width: 1000px) {
  .login__form .error{
    font-size: 24px;
  }
  .login__container{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .login__desc{
    width: 100%;
    box-sizing: border-box;
    padding: 10%;
  }
  .login__desc h2{
    text-align: center;
  }
  .login__desc p{
    text-align: center;
  }
  .login__form{
    width: 90%;
    margin: auto;
    padding: 64px;
  }
  .login__form .input-line{
    margin-top: 24px;
  }
  .login__form .input-line label{
    font-size: 24px;
  }
  .login__form .input-line input{
    height: 64px;
    font-size: 24px;
  }
  .login__form button{
    font-size: 20px;
    display: block;
    margin-top: 24px;
  }
}

